<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="places" href="/tabs/places">
      <ion-icon name="map-outline" />
      <ion-label>{{ 'tabs.places' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wines" href="/tabs/wines">
      <ion-icon name="wine-outline" />
      <ion-label>{{ 'tabs.wines' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/tabs/discover">
      <ion-icon src="/icons/butler.svg" />
      <ion-label>{{ 'tabs.discover' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon name="calendar-outline" />
      <ion-label>{{ 'tabs.calendar' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline" />
      <ion-label>{{ 'tabs.profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
